# Logs
logs
*.log
npm-debug.log*

# docs
docs/*.md

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

.DS_Store

schema.error.*

# migrations
# migrations/sql
# !migrations/sql/.keep
# migrations/template
# migrations/*.js


